body {
  margin: 0;
  font-family: "Verdana", sans-serif;
  background: #eee7e7;
  color: #c28190;
}

.container {
  display: flex;
  justify-content: space-around;
}
.new-container {
  display:flex;
  justify-content: space-around;
  margin: 20px;
}

h3 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
}

p {
  font-size: 90px;
  font-weight: bold;
  text-align: center;
  color: #c28190;
  width: 155px;
  height: 120px;
  background: #272727;
  border-radius: 5px;
  margin: 20px;
}

button {
  background: none;
  color: #dbb7ba;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  border-color: #dbb7ba;
  padding: 10px;
  margin: 2px;
}
button:first-of-type {
  margin-left: 0;
}
button:last-of-type {
  margin-right:0;
}

.new-game {
  background: #dbb7ba;
  color: #eee7e7;
}
